
@font-face {
    font-family: 'Complete Destroy';
    src: url(28\ Days\ Later.ttf);
}

:root {
    --fundo: #111525;
    --fonte1: 'Complete Destroy';
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--fundo);
    color: #BEBFC0;
    font-family: var(--fonte1);
    text-align: center;
}

header h1 {
    padding: 20px;
    font-size: 100px;
}

nav {
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.inteiro {
    height: 100vh;
}

section#hero {
    background-image: url(imagens/arcane-season-2-ef.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2vw;
}

section#hero .container {
    margin-left: 40px;
}

section#hero a {
    display: block;
}

section#hero img {
    width: 150px;
    height: auto;
}

section#hero img:hover {
    transform: scale(1.3);
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
}


section#hero {
    text-align: center;
}

section#hero a{
    text-decoration: none;
}


.sinopse {
    background-color: pink;
}


#personagens {
    background-color: green;
}

